<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>USDA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" th:href="@{/css/mui.min.css}" href="../static/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/cocoker/css/icons-extra.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:src="@{/js/mui.min.js}" src="../static/js/mui.min.js"></script>

    <style>
        .mui-bar-nav {
            box-shadow: none;
        }

        .mui-bar, .mui-title, .mui-action-back {
            background-color: #151E2E;
            font-weight: bold;
            color: #fff;
        }

        .mui-content {
            background-color: #fff;
        }
    </style>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">平台介绍</h1>
</header>
<div class="mui-content">
    <div class="container">
        <div style="text-align: center">
            <iframe width="80%" height="180px;" src="http://v.qq.com/iframe/player.html?vid=k03611broxh&345&258.75&auto=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row clearfix" style="padding: 13px;">
            <h4>1.什么是美元汇率?</h4>
            <p style="color: #3c3c52">
                只判断涨跌即可赚钱，最快30秒完成交易，每笔收益最高可达90%，小投入大回报!可选择判比特币 或者另外3种产品合约最快30秒后的涨跌情况，只要涨跌方向判断正确，30秒即可获得高达80%的投资收益，快速、安全、高效、透明。
            </p>
            <br>
            <h4>2.美元汇率就是猜大小?</h4>
            <p style="color: #3c3c52">
                看起来美元汇率就像是猜大小，但猜大小的概率是各50%，而美元汇率我们是可以透过技术分析、基本面、走势图分析让胜率达到70%以上，甚至更高，所以本质，上来说是不一样的。
            </p>
            <br>
            <h4>3.美元汇率是否可能被操控?</h4>
            <p style="color: #3c3c52">
                平台产品跟国际市场价格波动是一致的
                如果不跟国际市场.上的价格波动- -致
                平台是不可能允许在微信官方认证公众号运营的
                平台是有正规资质才能在公众号运营的
                国际大宗商品现货市场及国际外汇市场的交易量巨大，例如外汇市场目前日交易量达到了5万亿美元的级别，这只是日交易量。在如此大的交易量面前几乎没有任何政府、机构可以操纵市场，美元汇率又是极短线的交易，所以几乎是不可能有任何机构、政府可以操控的。
            </p>
            <br>
            <h4>4.微信支付:第三方资金监管</h4>
            <p style="color: #3c3c52">
                充值、提现等资金流水均由微信支付第三方操作。
                您充值提现的钱都是交给微信支付平台监管，充值、提现秒到账。
                方便快捷,放心，我们很安全。
            </p>
            <br>
            <h4>5.投资有风险，入行需谨慎</h4>
            <p style="color: #3c3c52">
                凡是投资类项目，在获得较高收益的同时，也伴有风险。请大家合理投资，健康投资，美元汇率祝大家投资愉快,生活愉快!
            </p>
<!--            <h4>交易规则 交易时间！</h4>-->
<!--            <div style="text-align: center">-->
<!--                &lt;!&ndash;<iframe width="80%" height="180px;" src="http://v.qq.com/iframe/player.html?vid=k03611broxh&345&258.75&auto=0" frameborder="0" allowfullscreen></iframe>&ndash;&gt;-->
<!--            </div>-->
<!--            <p style="color: #3c3c52">-->
<!--                交易时间：<br>-->
<!--                人民币；可7*24小时不间断交易。<br><br>-->

<!--                本平台以“$”作为交易单位，每1笔交易为20$，每次交易最少下单20$，最多下单2000$。本平台以“秒”作为结算单位，交割周期分为30秒，为85%收益-->
<!--                <br><br>-->
<!--                看涨举例：-->
<!--                美元汇率目前价格为6.6666，您预判30秒后到期价格高于当前价格，下单20$看涨。到期后美元汇率价格为6.6667，您将获得为85%的下单收益37币（去掉下单本金20$利润为17$），反之若到期价格为6.6665币低于下单价格，您将损失下单本金。-->
<!--                <br><br>-->
<!--                看涨举例：-->
<!--                美元汇率目前价格为6.6666，您预判30秒后到期价格高于当前价格，下单20$看涨。到期后美元汇率价格为6.6665，您将获得85%的下单收益37币（去掉下单本金20$利润为20$），反之若到期价格为6.6667币低于高于价格，您将损失下单本金-->
<!--                <br><br>-->
<!--                <br>-->
<!--            </p>-->
        </div>
    </div>
</div>
<!--音乐-->
<audio id="notice" loop="loop">
    <source src="/cocoker/mp3/song.mp3" type="audio/mpeg">
</audio>
</body>
<script>
    var oAudio = document.getElementById('notice');
    if (window.WeixinJSBridge) {
        WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
            oAudio.play();
        }, false);
    } else {
        document.addEventListener("WeixinJSBridgeReady", function () {
            WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
                oAudio.play();
            });
        }, false);
    }
    oAudio.play();
    // document.getElementById('notice').play();

    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</html>