<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>西瓜赢家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" th:href="@{/css/mui.min.css}" href="../static/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" href="../static/css/app.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/coco.css}" href="../static/css/coco.css"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/cocoker/css/icons-extra.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:src="@{/js/mui.min.js}" src="../static/js/mui.min.js"></script>
<body>
<header class="mui-bar mui-bar-nav">
    <a onClick="javascript:history.back(-1);" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">盈利模式</h1>
</header>
<div class="mui-content">
    <div class="container">
        <div class="row clearfix">
            盈利模式
        </div>
    </div>
</div>
<!--音乐-->
<audio id="notice" loop="loop">
    <source src="/cocoker/mp3/song.mp3" type="audio/mpeg">
</audio>
</body>
<script>
    document.getElementById('notice').play();

    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</html>