<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>推广教程</title>
</head>
<body style="background-color: #f4f4f4">
<div>
    <img style="width: 100%;height: 100%;" th:src="@{images/tuiguang1.png}">
</div>
<div onClick="javascript:history.back(-1);"  style="width: 100px; height: 100px; position: fixed;bottom: 100px;border-radius: 50%;right: 10%; background-color: #00aeef;line-height: 100px;text-align: center;font-size: 30px;color: white">返回</div>
</body>
<script th:src="@{/webjars/jquery/3.1.1/jquery.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<script>

</script>
</html>