<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cc-wechat.oss-cn-qingdao.aliyuncs.com/weixin2/css/main.css">
    <title>投诉</title>
</head>
<body>
    <div class="w100">
        <div class="main">
            <div class="title"><p>遇到流量劫持怎么办？</p></div>
            <div class="smal-title"><span class="blu-title">微信110</span><span class="gray-title">2018-10-12</span></div>
            <div class="main-text"><span class="web-text">如果你用微信浏览某个网页的时候（比如微信公众号文章或者外部网页），再打开的页面上发现非当前页面提供的广告或浮层，这很有可能表示你的流量被劫持了。</span>
            </div>
            <div class="main-bg"><image class="main-img" src="https://cc-wechat.oss-cn-qingdao.aliyuncs.com/weixin2/images/1bg.jpg" alt=""></div>
            <div class="mag-title">图例一</div>
            <div class="main-bg"><image class="main-img" src="https://cc-wechat.oss-cn-qingdao.aliyuncs.com/weixin2/images/2bg.jpg" alt=""></div>
            <div class="mag-title">图例二</div>
            <div class="mag-text">遇到流量劫持该怎么办？</div>
            <div class="mag-massage"><span>流量被劫持后，你看到的页面内容往往遭到了有意的篡改，因此不能排除其中包含恶意内容的可能性，建议你不要点击页面上的浮层和弹窗。</span></div>
            <div class="mag-tiao"> <span>如果反复遇到这类问题，可以与你的手机运营商联系寻求解决办法：<br></span>
                <span class="redcolor">移动用户请咨询10086</span><br>
                <span class="redcolor"> 联通用户请咨询10010</span><br>
                <span class="redcolor">电信用户请咨询10000</span><br></div>

            <div class="mag-code marginTop"><img src="https://cc-wechat.oss-cn-qingdao.aliyuncs.com/weixin2/images/code.jpg" alt=""></div>
            <div class="mag-code">长按识别图中二维码<br>
                    关注微信110</div>
        <div class="marginLeft"><span>阅读100000+</span> <div class="mag-zan"><img class="zan-bg" src="https://cc-wechat.oss-cn-qingdao.aliyuncs.com/weixin2/images/zan.png" alt=""><span class="activebg">31226</span></div></div>
        </div>
    </div>
</body>
</html>