<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/ts.css}">
    <title>投诉</title>
</head>
<body>
<div class="w100">
    <div class="web2"><span class="ptitle" style="font-size: 12px">你可以：</span></div>
    <ul class="chose">
        <li id="sub" >
            <a>提交给微信团队审核</a>
            <a>
                <image class="back-icon"  th:src="@{/images/jiantouyou.png}"
                       alt="">
            </a>
        </li>
    </ul>
    <div class="main-bot" style="background-color: #e9efef;height: 100%">
<!--        <span class="bot-title"><a href="lljc" style="color: #4388d4">遇到网页流量被劫持怎么办？</a></span>-->
        <!--            <div class="bot-btn"> <a  class="color-btn" href="./know.html">投诉须知</a> </div>-->
    </div>
</div>
</body>
<script th:src="@{/webjars/jquery/3.1.1/jquery.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<script th:src="@{/js/myvue.js}"></script>
<script>
    $("#sub").click(function () {
        window.location.href = "user/complaint?openid=" + getCookie('openid');
    })
</script>
</html>