<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cc-wechat.oss-cn-qingdao.aliyuncs.com/weixin2/css/main.css">
    <title>投诉</title>
</head>
<body style="background-color: #ededed">
<img onclick="window.location.href='/cocoker/coc'" style="width: 100%;height: 100%" th:src="@{/images/suc.png}">
<script>
</script>
</body>
</html>